* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: Verdana, sans-serif;
  background-color: rgb(63 62 64 / 90%);
  color: white;
}

.mySlides {
  display: none;
}
.logo{
  width: 20%;
  display: flex;
  justify-content: center;
}
.logo img{ 
  width: 42px;
  border-radius: 3px;
  margin-top: 9px ;
}
header{
  position: sticky;
  top: 0;
 
}
.navbar {
  background-color: rgb(63 62 64 / 40%);
  font-family: 'Yeon Sung';
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav-list {
  width: 60%;
  display: flex;
  align-items: center;
  /* height: 60px; */
}

.nav-list li {
  list-style: none;
  padding: 22px 40px;

}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}


.nav-list li a:hover {
  color: rgb(231, 231, 111);
}
.btn-sum{
  padding: 6px 10px;
  vertical-align: middle;
  border-radius: 3px;
  background-color: black;
  color: whitesmoke;
  border: 1.1px solid;

}
#search{
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 6px;
}
.rightNav{
  text-align: right;
  padding:0 23px ;
}
.container {
  display: flex;
  margin: auto;
  border: 2px solid black;
  justify-content: center;
  padding: 10px 0;
}

.home {
  max-width: 100%;
  height: 60%;
  /* border: 3px solid black; */
  border-radius: 10px;
  padding-top: 5px;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  background-color: white;
}

/* Caption text */
.text {
  color: #2e0e0e;
  font-size: 15px;
  padding: 8px 12px;
  margin-left: 56px;
  position: absolute;
  top: 150px;
  width: 400px;

}

.text h1 {
  font-size: 36px;
  text-transform: capitalize;
  text-transform: uppercase;
}

.text h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-transform: uppercase;
  padding: 1rem 0;

}

.text p {
  font-size: 1.2rem;
  color: var(--light-color);
  padding: 1rem 0;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5sec;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


.heading {

  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid #906f0f;
}

.about {
  padding: 0px 80px;
  margin-top: 20px;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .video {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
  flex: 1 1 41rem;
}

.about .row .video video {
  width: 100%;
}

.about .row .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
  flex: 1 1 41rem;
}

.about .row .content h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.about .row .content p {
  font-size: 1rem;
  color: darkgray;
  line-height: 2;
  padding: 1rem 0;
}

/* service section */
.service {
  padding: 50px 80px;
  margin-top: 20px;
  background: lightgray;
  color: black;
}

.service .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 3rem;
}

.service .box-container .box {
  text-align: center;
  padding: 2rem;
  background: white;
  border: 1px solid black;
  box-shadow: 5px 5px #88888a;
}

.service .box-container .box h3 {
  padding: 0.5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.service .box-container .box p {
  font-size: 1rem;
  color: darkslategrey;
}

.service .box-container .box img {
  height: 4rem;
  margin-bottom: 0.3rem;
  transition: .2s linear;
}

.service .box-container .box:hover img {
  transform: translateY(-1rem);
}

.Contact {
  padding: 30px 80px;
  background: #001f3f;
}

.Contact .row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}

.Contact .row h3 {
  color: yellow;
  margin-left: 15px;

}

.Contact .row h1 {
  color: lightgreen;
  margin-left: 8px;
}

.Contact .row form {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  padding: 17px 20px;
  /* border: 1px solid #a9a9a9; */
  margin-bottom: 30px;
  color: #202c38;
  transition: .3s ease-in-out;
}

.Contact .row form .box {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  margin: 14px 14px;
  font-size: 1.3rem;
}

.Contact .row form .btn {
  cursor: pointer;
  Font-weight: 700;
  color: #000810;
  padding: 20px 0px;
  font-size: 18px;
  width: 404px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  margin-top: 13px;
  background-color: yellow;

}

.Contact .row form .btn:hover {
  transform: translateY(-5px)
}

.Contact .additional-contact {
  margin: 0 35px;
}

.Contact .additional-contact iframe {
  border-radius: 11px;
  width:600px;  
  height:500px;
}
.footer-container{
  display: flex;
    flex-direction: column;
}
.footer-container .footer-name {
  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: center;
  align-items: center;
}

.footer-container .footer-name .-name {
  /* border: 2px solid yellow; */
  /* width: 304px; */
  padding: 45px 45px;

}

.footer-container .footer-name .-name h1 {
  font-size: 35px;
  /* color: yellow; */
  padding-bottom: 18px;
}

.footer-container .footer-name .-name p {
  color: #c8ffc8;
}

.footer-container .footer-name img {
  height: 38px;
  width: 45px;
  align-items: center;
  padding-left: 9px;
}


.footer-container .footer-name .address h2 {
  padding: 14px 0;
  font-size: 29px;
  color: #dada9a;
  text-align: center;
}

.footer-container .footer-name .address p {
  margin: 10px 19px;
  justify-content: center;
  color: antiquewhite;
  text-align: center;
}

.footer-container .footer-name .Company {
  /* border: 2px solid yellow; */
  text-align: center;

}

.footer-container .footer-name .Company h2 {
  padding: 14px 20px;
  margin-top: 47px;
  font-size: 29px;
  color: #dada9a;
}

.footer-container .footer-name .Company ul {
  font-size: 18px;
  padding: 0px 50px;
}

.footer-container .footer-name .Company li {
  padding: 8px;
  color: antiquewhite;
  list-style: none;
  text-decoration: none;
}

.footer-container .footer-name .Company li:hover {
  list-style: square;
}

.footer-container .footer-name .contact {
  /* border: 2px solid yellow; */
  text-align: center;
}

.footer-container .footer-name .contact h2 {
  padding: 14px 66px;
  margin-top: 47px;
  font-size: 29px;
  color: #dada9a;
}

.footer-container .footer-name .contact h3 {
  padding: 10px 66px;
  margin-top: 30px;
  font-size: 31px;
  color: #dada9a;
  text-align: center;
}

.footer-container .footer-name .contact p {
  margin: 10px 19px;
  justify-content: center;
  text-align: center;
  color: antiquewhite;
}

.footer-container .line {
  text-align: center;
  border-top: 3px solid green;
}

.burger{
display: none;
position:absolute;
cursor: pointer;
right: 5%;
top: 15px;
}

.line{
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 4px 3px;
}
/* .burger-logo img{
  width: 40px;
} */
